
#block-calculator{


	margin-left: 50%;
	position: relative;
	transform: translateX(-150px);



}

.buts{


	display: block;
	padding-top: 10%;

}

.btn-secondary{

	width:50%;
	display: inline;


}
