
#block-calculator{


	margin-left: 50%;
	position: relative;
	transform: translateX(-150px);



}

.buts{


	display: block;
	padding-top: 10%;

}

.btn-secondary{

	width:50%;

}

.operations{


	float: right;
	display: grid;
	margin: 5%;
	


}

.breath{

margin-top: 2px;
}

#displayaritimetic{


	height: 50px;
	border-color: #000000;
	background-color: #77c6bf;
}
